body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}



/* Frist Section Css Start */
.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.spann {
    color: #FBA24F;
}

.heading-h1 {
    font-size:
        60px;
    line-height:
        78px;
    font-weight: 700;
}

.normal-p {
    font-size:
        20px;
    line-height:
        32px;
    font-weight: 500;
    color: #828282;
    padding-bottom: 1em;
}

.btn {
    font-size:
        18px;
    line-height:
        23.4px;
    font-weight: 600;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
}

.frist-col {
    margin-top: 8em;
    margin-left: 7em;
}

/* Frist Section Css End */
.second-section {
    background-image: url(images/second-section-bag.png);
    background-repeat: no-repeat;
    background-size: 94em;
}

.haf-img {

    text-align: center;
    width: 50%;
}

.haf-img2 {
    float: right;
    width: 50%;

    margin-top: -60vh;
}

.heading-h2 {
    font-size:
        40px;
    line-height:
        54px;
    font-weight: 700;
}

.normal-p2 {
    font-size:
        18px;
    line-height:
        32px;
    font-weight: 400;
    color: #828282;
    padding-bottom: 1em;
}

.person-image {
    width: 40%;
    margin-top: 109px;
}

/* Second Section End */

.third-h1 {
    font-size:
        36px;
    line-height: 43.88px;
    font-weight: 700;
    color: #828282;
    text-align: center;
    margin-top: 12vh;
}

.third-p {
    font-size:
        18px;
    line-height: 24.55px;
    font-weight: 400;
    color: #252525;
    text-align: center;
    margin-bottom: 7vh;
}

.res-h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
}

.res-p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}


.parent-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    width: 28%;
    background: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

.card img {
    width: 100%;
}

/* Third section Css  End  */

.parent-div-four {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.card-four {
    width: 30%;
    padding: 20px;
    padding-left: 120px;
}

.four-sec {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.four-h2 {
    font-weight: 700;
    font-size: 48px;
}

.four-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* Four Section Css End From Here  */




.foot-h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
}

.foot-p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.foot-foot {
    background-color: #0B0D17;
    padding: 10vh;
}

/* Footer end Here  */